li, ul{
    list-style-type: none !important;
}


.card-body{
    border: 0 !important;
}

.card {
    background-color: inherit !important;
}


.btn-primary{
    font-family: 'Bebas Neue';
    background-color: inherit !Important;
    color: white !important;
    font-size: 1.7em;
}
